streamlit
streamlit-webrtc
numpy
pydub
python-dotenv
httpx>=0.26.0,<0.28.0
supabase>=2.10.0
gotrue>=2.10.0,<3.0.0
websockets>=11.0.0,<14.0.0
av
streamlit-audiorec
requests
openai==1.58.1
st-copy-to-clipboard
anthropic
st-supabase-connection
assemblyai
pathlib
sounddevice
wave
certifi>=2024.2.2
Authlib
streamlit-nightly
stripe







